<div class="dashboard" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
  <div fxLayout="column">
    <h1>Welcome to User Portal</h1>
    <span>Here we are providing some set of services</span>
  </div>
  <div>
    <div routerLink="/home/notes" class="sidedata">
      <mat-card style="background: #ffff99">View Notes</mat-card>
    </div>
    <div class="sidedata" >
      <mat-card style="background: #a3c2c2">Converter</mat-card>
    </div>
    <div class="sidedata" >
      <mat-card style="background: #33adff">Users Details</mat-card>
    </div>
    <div class="sidedata" >
      <mat-card style="background: #80ffbf">Chat</mat-card>
    </div>
    <div class="sidedata" >
      <mat-card style="background: #99e6ff">Post Information</mat-card>
    </div>
    <div class="sidedata" >
      <mat-card style="background: #66ffff">Store Files</mat-card>
    </div>
  </div>
</div>