<div style="margin-top:20px" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxFlex="100">
  <div fxFlex="20">
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </div>
  <mat-card class="sidedata" fxFlex="grow">Simple card</mat-card>
  <mat-card class="sidedata" fxFlex="grow">Simple card</mat-card>
  <mat-card class="sidedata" fxFlex="grow">Simple card</mat-card>
</div>