<div fxLayout="column" class="header">
  <div *ngIf="isLogin" class="preheader" fxLayout="row" fxLayoutAlign="space-between center">
    <div style="padding: 6px 10px;outline: none;"><span>Welcome to UserPortal <span style="color: #f96302"><a>Venkat</a></span><i
          style="margin-left: 10px;outline: none;" class="fas fa-user-edit"></i></span></div>
    <div style="padding-right: 10px;outline: none;"><span>Whats New?</span></div>
  </div>
  <div *ngIf="!isLogin" class="preheader" fxLayout="row">
    <div id="signup" class="signup" routerLink="/home/signup" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><span>Create Account</span></div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <img class="image" routerLink="/home/dashboard" src="../../../assets/logo3.png">
    <div fxLayout="column" fxHide.gt-xs class="searchiconunion"><i class="fas fa-search iconunion"></i><span class="names">Search</span></div>
    <div fxHide.xs fxLayout="row" fxLayoutGap="15px">
      <div id="search" fxLayout="column"><i class="fas fa-search iconunion"></i><span class="names">Search</span></div>
      <div #menuTrigger="matMenuTrigger" class="headerMenu" [matMenuTriggerFor]="menu" id="search" fxLayout="column">
        <i (mouseenter)="menuTrigger.openMenu()" class="fas fa-cog iconunion"></i>
        <span class="names">Services</span>
        <mat-menu #menu="matMenu">
          <button routerLink="/home/datatable" mat-menu-item>
            <span>Datatable</span>
          </button>
          <button mat-menu-item>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>



      <div id="mywork" fxLayout="column" style="outline:none" routerLink="/home/mywork"><i class="fas fa-th-list iconunion"></i><span class="names">MyWork</span></div>
      <div id="alerts" style="outline:none" fxLayout="column"><i class="far fa-bell iconunion"></i><span class="names">Alerts</span></div>
      <div id="feedback" style="outline:none" fxLayout="column"><i class="far fa-comment-alt iconunion"></i><span class="names">Feedback</span></div>
      <div id="login" style="outline:none" *ngIf="!isLogin" routerLink="/home/login" fxLayout="column"><i class="fas fa-sign-in-alt iconunion"></i><span
          class="names">Login</span></div>
      <div id="logout" style="outline:none" *ngIf="isLogin" fxLayout="column"><i class="fas fa-sign-out-alt iconunion"></i><span class="names">Logout</span></div>
    </div>
  </div>
</div>

<div class="example-card">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!footer" fxHide.gt-xs class="footer" fxLayoutAlign="center" fxLayout="column">
  <div (click)="hidefooter()"> <span>=</span></div>
</div>

<div *ngIf="footer" fxHide.gt-xs class="footer" fxLayoutAlign="center" fxLayout="column">
  <div (click)="hidefooter()"> <span>=</span></div>
  <div fxLayoutAlign="space-around" fxLayout="row">
    <div style="outline:none" fxLayout="column" routerLink="/home/mywork"><i class="fas fa-th-list mobileFooter"></i><span>MyWork</span></div>
    <div style="outline:none" fxLayout="column"><i class="far fa-bell mobileFooter"></i> <span>Alerts</span></div>
    <div style="outline:none" fxLayout="column"> <i class="far fa-comment-alt mobileFooter"></i> <span>Feedback</span></div>
    <div style="outline:none" fxLayout="column"><i class="fas fa-sign-in-alt mobileFooter"></i> <span>Login</span></div>
    <!-- <i class="fas fa-sign-out-alt mobileFooter"></i> -->
  </div>
</div>


<div fxHide.xs class="webFooter" fxLayoutAlign="space-around">
  <span class="copy">UI: V 0.1.0 | 2018 Miracle Software Systems @ Private LTD</span>
</div>