<div fxLayout="column">
  <div class="box">
    <h2>Login</h2>
    <div>
      <div class="inputBox">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="inputBox">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <input type="submit" name="" value="Login">
    </div>
  </div>

  <div style="margin-top:15px" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-card style="cursor: pointer">
      <span>
        <i style="color: blue;" class="fab fa-google"></i>
        <span style="padding-left: 9px;">Google</span>
      </span>
    </mat-card>
    <mat-card style="cursor: pointer">
      <span>
        <i style="color: blue;" class="fab fa-facebook-f"></i>
        <span style="padding-left: 9px;">Facebook</span>
      </span>
    </mat-card>
  </div>
</div>